<div>
    <label for="lsys_name">Name</label>
    <input id="lsys_name" type="text" />
    <label for="lsys_iters">Iterations</label>
    <input id="lsys_iters" type="number"/>
    <input id="button" type="button" value="Get" onclick="getWithName();" />
    <p id="lsys" />
</div>

<script>
    var uri = 'api/lsystem';

    function getWithName() {
        var name = $('#lsys_name').val();
        var iters = $('#lsys_iters').val();
        $.getJSON(uri + '/' + name + '/' + iters)
            .done(function (data) {
                $('#svg').remove();
                $('#error').remove();
                $('#lsys').append(data);
        });
    }
</script>